<div class="container" style="margin-top:50px;">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to Movie App</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="searchMovie">Search Movie</label>
        <input type="text" class="form-control" id="searchMovie" [(ngModel)]="term" >
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let movie of movies | searchFilter: term">
      <div class="thumbnail" style="height:350px;">
        <img [src]="movieImagePrefix + movie.backdrop_path" alt="" class="img-circle" style="width:125px;height:125px">
        <div class="caption">
          <h3>{{ movie.title }}</h3>
          <p>ID : {{ movie.id }}</p>
          <p>Release Date : {{ movie.release_date }}</p>
          <p>
            <a (click)="seeMore(movie)" class="btn btn-primary" role="button">View More</a> 
            <a (click)="delete(movie.id)" class="btn btn-danger" role="button">Delete</a> 
          </p>
        </div>
      </div>
    </div> 
  </div>
  
</div>